{
    "presets": [
        "es2017",
        "react",
        [
            "env",
            {
                "targets": {
                    "uglify": true
                }
            }
        ]
    ],
    "ignore": [
        "node_modules"
    ],
    "plugins": [
        "transform-runtime",
        "transform-object-rest-spread"
    ]
}