{
  "presets": [
    "es2017",
    [
        "env",
        {
            "targets": {
                "uglify": true
            }
        }
    ]
  ],
  "ignore": [
    "node_modules"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ]
}